<script>
  $(document).ready(function() {
    $('body').addClass('map-bg')
  });
</script>



<div class='form-box'>
  <div class='form-content'>
    <div class="form-hdr">
      <div class='cancel-btn'>
        <%= link_to "x", root_url, class: 'cancel-btn' %>
      </div>
      <h2 class='center'>Resend Confirmation Instructions</h2>
    </div>
    <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>

      <br/>
      <br/>

      <div id='sign-in-form-content'>
        <% if @user.errors[:email].blank? %>
          <p> Email </p>
        <% else %>
          <p class="form-error">
            <i>Email
            <%= @user.errors[:email].first %></i>
          </p>
        <% end %>
        <%= f.email_field :email, :autofocus => true %>

        <br/>
        <br/>
        <br/>
      </div>

      <div class='center'>
        <div><%= f.submit "Resend Confirmation Instructions", class: "btn-black", onclick: "localStorage.setItem('profile_tab', 'visible');" %>
        </div>
        <br/>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>

  </div>
</div>

