<script>
  $(document).ready(function() {
    $('body').addClass('map-bg')
  });
</script>



<div class='form-box'>
  <div class='form-content'>
    <h2 class='center'>New Stop</h2>
    <%= form_for(@stop, url: journey_stops_path,
      html: { method: :post, :multipart => true }) do |f| %>

      <br/>
      <br/>

      <div id='sign-in-form-content'>
        <% if @stop.errors[:title].blank? %>
          <p> Title </p>
        <% else %>
          <p class="form-error">
            <i> Title
            <%= @stop.errors[:title].first %></i>
          </p>
        <% end %>
        <%= f.text_field :title, :autofocus => true %>

        <% if @stop.errors[:location].blank? &&
          @stop.errors[:latitude].blank? &&
          @stop.errors[:longitude].blank? %>
          <p> Location </p>
          <%= f.text_field :location, :autofocus => true %>
        <% elsif !@stop.errors[:location].blank? %>
          <p class="form-error">
            <i> Location
            <%= @stop.errors[:location].first %></i>
          </p>
          <%= f.text_field :location, :autofocus => true %>
        <% else %>
          <p class="form-error">
            <i> Location could not be found </i>
          </p>
          <%= f.text_field :location, :autofocus => true %>
          <p class='hint'>
              Make sure your search is spelled correctly<br/>
              or try adding a city, state, or zip code
          </p>
        <% end %>

        <% if @stop.errors[:content].blank? %>
          <p> Content </p>
        <% else %>
          <p class="form-error">
            <i> Content
            <%= @stop.errors[:content].first %></i>
          </p>
        <% end %>
        <%= f.text_field :content, :autofocus => true %>
        <br/>
        <br/>
        <br/>
      </div>

      <div class='center'>
        <%= f.submit "Create", class: 'btn-black' %>
      </div>
    <% end %>
  </div>
</div>
