<script>
  $(document).ready(function() {
    $('body').addClass('map-bg');
    $('#lat-hidden').val(localStorage.getItem('lat'));
    $('#lng-hidden').val(localStorage.getItem('lng'));

    var loc = localStorage.getItem('loc');
    if(!loc) {
      loc = "";
    }

    $('#stop_location').val(loc);

    $('#next-btn').on('click', function() {
      $('#stop-title-form').css('visibility', 'hidden');
      $('#stop-content-form').css('visibility', 'visible');
    });

    $('#back-link').on('click', function() {
      $('#stop-title-form').css('visibility', 'visible');
      $('#stop-content-form').css('visibility', 'hidden');
    });
  });
</script>

  <div class='form-box' id="stop-title-form">
    <div class='form-content'>
      <div class="form-hdr">
        <%= link_to "x", journey_path(@journey), class: 'cancel-btn' %>
        <h2 class='center'>New Stop</h2>
      </div>
      <%= form_for(@stop, url: journey_stops_path,
        html: { method: :post, :multipart => true }) do |f| %>

        <div id='sign-in-form-content'>

          <% if !@stop.errors[:latitude].blank? %>
            <p class="form-error">
              <i> Latitude
              <%= @stop.errors[:latitude].first %></i>
            </p>
          <% end %>
          <% if !@stop.errors[:longitude].blank? %>
            <p class="form-error">
              <i> Longitude
              <%= @stop.errors[:longitude].first %></i>
            </p>
          <% end %>

          <% if @stop.errors[:title].blank? %>
            <p> Title </p>
          <% else %>
            <p class="form-error">
              <i>Title
              <%= @stop.errors[:title].first %></i>
            </p>
          <% end %>
          <%= f.text_field :title, :autofocus => true %>

          <% if @stop.errors[:location].blank? %>
            <p> Location </p>
          <% else %>
            <p class="form-error">
              <i>Location
              <%= @stop.errors[:location].first %></i>
            </p>
          <% end %>
          <%= f.text_field :location, :autofocus => true %>

          <% if @stop.errors[:start_date].blank? %>
            <p> Start Date </p>
          <% else %>
            <p class="form-error">
              <i>Start Date
              <%= @stop.errors[:start_date].first %></i>
            </p>
          <% end %>
          <%= f.date_field :start_date, :autofocus => true %>

          <% if @stop.errors[:end_date].blank? %>
            <p> End Date </p>
          <% else %>
            <p class="form-error">
              <i>End Date
              <%= @stop.errors[:end_date].first %></i>
            </p>
          <% end %>
          <%= f.date_field :end_date, :autofocus => true %>

        </div>

        <br/>

        <div class='center'>
          <div id="next-btn" class="btn-black" style="display: inline; line-height: 30px;">
            Next
          </div>
        </div>
      </div>
    </div>


  <div class='form-box' id="stop-content-form">
    <div class='form-content'>
      <div class="form-hdr">
        <%= link_to "x", journey_path(@journey), class: 'cancel-btn' %>
        <h2 class='center'>New Stop</h2>
      </div>

      <br/>

      <%= f.text_area :content, id: 'stop_content_textarea', value: 'Enter blog content here...' %>

      <%= f.hidden_field :latitude, id: "lat-hidden" %>
      <%= f.hidden_field :longitude, id: "lng-hidden" %>

      <br/>

      <div class='center'>
        <%= f.submit "Create", class: 'btn-black' %>
        <h4 id="back-link"> Back </h4>
      </div>
    <% end %>
  </div>
</div>