<script>
  $(document).ready(function() {
    $('body').addClass('map-bg');
    var loc = localStorage.getItem('loc');
    if(loc) {
      $('#location-input').hide();
      $('#loc-hidden').val(loc);
    }
    $('#lat-hidden').val(localStorage.getItem('lat'));
    $('#lng-hidden').val(localStorage.getItem('lng'));
  });
</script>



<div class='form-box'>
  <div class='form-content'>
    <div class="form-hdr">
      <div class='cancel-btn'>
        <p onclick="history.back()"> x </p>
      </div>
      <h2 class='center'>New Stop</h2>
    </div>
    <%= form_for(@stop, url: journey_stops_path,
      html: { method: :post, :multipart => true }) do |f| %>

      <br/>
      <br/>

      <div id='sign-in-form-content'>

        <% if !params[:locatiion].blank? %>
          <% if !@stop.errors[:location].blank? %>
            <p class="form-error">
              <i> Location
              <%= @stop.errors[:location].first %></i>
            </p>
          <% end %>
        <% end %>
        <% if !@stop.errors[:latitude].blank? %>
          <p class="form-error">
            <i> Latitude
            <%= @stop.errors[:latitude].first %></i>
          </p>
        <% end %>
        <% if !@stop.errors[:longitude].blank? %>
          <p class="form-error">
            <i> Longitude
            <%= @stop.errors[:longitude].first %></i>
          </p>
        <% end %>

        <% if @stop.errors[:title].blank? %>
          <p> Title </p>
        <% else %>
          <p class="form-error">
            <i> Title
            <%= @stop.errors[:title].first %></i>
          </p>
        <% end %>
        <%= f.text_field :title, :autofocus => true %>

          <%= f.hidden_field :location, id: "loc-hidden" %>
          <div id='location-input'>
            <% if @stop.errors[:location].blank? %>
              <p class="location-input"> Location </p>
            <% else %>
              <p class="form-error location-input">
                <i> Location
                <%= @stop.errors[:location].first %></i>
              </p>
            <% end %>
            <%= f.text_field :location, :autofocus => true, class: "location-input" %>
          </div>

          <%= f.cktext_area :content, :value => 'hey', :cols => 40, :ckeditor => {:language => 'us', :uiColor => '#AADC6E', :toolbar => 'mini'} %>

        <%= f.hidden_field :latitude, id: "lat-hidden" %>
        <%= f.hidden_field :longitude, id: "lng-hidden" %>

        <br/>
        <br/>
        <br/>
      </div>

      <div class='center'>
        <%= f.submit "Create", class: 'btn-black' %>
      </div>
    <% end %>
  </div>
</div>
