<script>
  $(document).ready(function() {
    $('body').addClass('map-bg');
    $('#lat-hidden').val(localStorage.getItem('lat'));
    $('#lng-hidden').val(localStorage.getItem('lng'));

    var loc = localStorage.getItem('loc');
    if(!loc) {
      loc = "";
    }
    $('#stop_content').html('<h1>Title: </h1><h2>Location: ' + loc
      + '</h2><br/>Enter blog content here...');

  });
</script>



<div class='form-box'>
  <div class='form-content'>
    <div class="form-hdr">
      <div class='cancel-btn'>
        <p onclick="history.back()"> x </p>
      </div>
      <h2 class='center'>New Stop</h2>
    </div>
    <%= form_for(@stop, url: journey_stops_path,
      html: { method: :post, :multipart => true }) do |f| %>

      <br/>

      <div id='sign-in-form-content'>

        <% if !@stop.errors[:latitude].blank? %>
          <p class="form-error">
            <i> Latitude
            <%= @stop.errors[:latitude].first %></i>
          </p>
        <% end %>
        <% if !@stop.errors[:longitude].blank? %>
          <p class="form-error">
            <i> Longitude
            <%= @stop.errors[:longitude].first %></i>
          </p>
        <% end %>
      </div>

      <%= f.cktext_area :content, :class => 'ckeditor', id: 'stop_content', :cols => 40, :ckeditor => {:language => 'us', :uiColor => '#0088cc', :toolbar => 'Basic'} %>

      <%= f.hidden_field :latitude, id: "lat-hidden" %>
      <%= f.hidden_field :longitude, id: "lng-hidden" %>

      <br/>

      <div class='center'>
        <%= f.submit "Create", class: 'btn-black' %>
      </div>
    <% end %>
  </div>
</div>
