
<h3>
  Journey ID: <%= @stop.journey_id %> <br/>
  Location: <%= @stop.location %> <br/>
  Title: <%= @stop.title %> <br/>
  Latitude: <%= @stop.latitude %> <br/>
  Longitude: <%= @stop.longitude %> <br/>
  Content: <%= @stop.content %>
</h3>