<script>
  $(document).ready(function() {
    $('body').addClass('map-bg');

    $("#upload_photo-link").click(function (e) {
      $("#stop_images").trigger('click');
    });

    $("#stop_images").on('change', function (e) {
      $("#upload_photos").submit();
    });

    $("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>

<div class="center">
  <h1 id='journey-title'> <%= @journey.title %> </h1>
</div>

<div id='stop-content-box'>


<% if false %>
<ul class="nav nav-tabs">
  <li><%= link_to "Map", journey_url(@journey) %></li>
  <li class="active"><a href="#" data-toggle="tab">Content</a></li>
  <li><a href="#" data-toggle="tab">Photos</a></li>
</ul>
<% end %>


  <div class='center'>
    <h1> <%= @stop.title %> </h1>
    <h2> <%= "(#{@stop.location})" %> </h2>
    <% @stop.photos.each do |photo| %>
      <% if false %>
        <%= image_tag photo.image.url(:thumb), class: 'stop_photo', :html => {
          rel: "prettyPhoto[pp_gal]", alt: 'photo' } %>
      <% end %>
      <%= link_to image_tag(photo.image.url(:thumb)), photo.image.url, rel: "prettyPhoto[pp_gal]", class: "prettyphoto" %>
    <% end %>
    <%= form_for @stop, :url => journey_stop_path(@journey, @stop), :html => { :method => :put, :multipart => true, :id => 'upload_photos' } do |f| %>
      <p id="upload_photo-link" class="btn-black"> Upload Photos </p>
      <%= file_field_tag 'images[]', :multiple => true, style: "display:none", id: 'stop_images' %>
    <% end %>
  </div>
  <p>
    <%= raw(@stop.content) %>
  </p>
</div>
