<script>
  $(document).ready( function() {
    $( "#sidebar-tab" ).hide( "slide", { direction: "right" }, 250 );
    $( "#sidebar" ).hide( "slide", { direction: "right" }, 250 );
    $(".profile-toggle").click(function(e){
      $( "#sidebar-tab" ).css("visibility", "visible");
      $( "#sidebar" ).css("visibility", "visible");
      $( "#sidebar-tab" ).toggle( "slide", { direction: "right" }, 250 );
      $( "#sidebar" ).toggle( "slide", { direction: "right" }, 250 );
    });

    $('#profile_pic').hover(function (e) {
      $('#edit_avatar-link').css("visibility", "visible");
    }, function (e) {
      $('#edit_avatar-link').css("visibility", "hidden");
    });

    $("#upload_avatar-link").click(function (e) {
      $("#user_avatar").trigger('click');
    });

    $("#edit_avatar-link").click(function (e) {
      $("#user_avatar").trigger('click');
    });

    $("#user_avatar").on('change', function (e) {
      $(".edit_user").submit();
    });

    // $('#new_blog').hover(function (e) {
    //   $('#create_new-img').css("visibility", "hidden");
    // }, function (e) {
    //   $('#create_new-img').css("visibility", "visible");
    // });
  });
</script>

<% if(user_signed_in?) %>
  <div id="sidebar-toggle" class='profile-toggle'><p>Profile</p></div>
  <div id="sidebar-tab" class='profile-toggle'><p>Profile</p></div>
  <div id="sidebar">
    <p class="sidebar-nav">
      <br/>
      <% if current_user.avatar_file_name.nil? %>
        <%= form_for current_user, :url => registration_path(current_user),
          :html => { :method => :put } do |f| %>
          <p id="upload_avatar-link"> Upload Profile Picture</p>
          <%= f.file_field :avatar, style: "display:none" %>
        <% end %>
      <% else %>
        <div id='profile_pic' class='center'>
          <%= form_for current_user, :url => registration_path(current_user),
            :html => { :method => :put } do |f| %>
            <p id="edit_avatar-link"> Edit Pic</p>
            <%= f.file_field :avatar, style: "display:none" %>
            <%= image_tag current_user.avatar.url(:thumb) %>
          <% end %>
        </div>
      <% end %>
      <div id="username">
        <%= "#{current_user.first_name} #{current_user.last_name}" %>
      </div>


      <% if false %>
      <%= current_user.blogs.each do |blog| %>
        <%= blog.name %>
      <% end %>
      <% end %>


      <div id='new_blog'>
        <%= image_tag "circle_plus.png", alt: "+", height: "24", width: "24", id: 'create_new-img' %>
        <%= link_to "New Blog", "#", id: "new_blog-btn" %>
      </div>
      <%= link_to "Account", edit_user_registration_path,
        id: "edit_account-btn" %>
    </p>
  </div>
<% end %>


